.tags {
    display: flex;
    > * {
        margin-right: 7px;
    }
}

.tag {
    border-radius: 90px;
    padding: 0 14px;
    font-size: 1.8rem;
    line-height: 2.8rem;
    cursor: pointer;
    &_selected {
        background-color: $color-primary;
        color: $color-light;
    }

    &_bordered {
        border: 1px solid $color-border;
    }

    &_colored {
        background-color: $color-tag;
    }
}