.footer {
    padding: 60px 0 70px;
    @include media-mobile {
        padding: 30px 0;
    }
}

.footer__wrapper {
    display: flex;
    @include media-tablet {
        flex-direction: column;
    }
}

.footer-navigation {
    flex-grow: 1;
    padding-left: 152px;
    @include media-tablet {
        padding-left: 0;
        margin-top: 34px;
    }
    @include media-mobile {
        flex-direction: column;
    }
}

.footer-navigation__column {
    
}

.footer-navigation__title {
    @extend %font-add;
    color: $color-heading;
    @include font(2.0rem, 3.0rem, normal, bold);
    color: $color-heading;
    margin: 0 0 15px 40px; 
}

.footer-navigation__links {
    @extend %font-add;
    list-style: none;
    a {
        color: $color-text;
        text-decoration: none;
        @extend %transition;
        @include font(1.6rem, 3.6rem, normal, 400);
        &:hover {
            color: $color-primary;
        }
    }
}